* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear-fix {
    clear: both;
}

.float-left {
    float: left;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
    height: 100vh;
    background-image: url('aakash_672045839.png');
    background-size: cover;
    background-position: center center;}

    .layer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
      display: flex;
      justify-content: center;
      flex-direction: column;
       
    }
    li a {
        color: beige;
    }
   .home-content{
    color: white ;
    text-align: center;
   }
   h1{
    font-size: x-large;
    font-weight: 400;

   }
   .typingClass::after{
    content: "";
    animation-name: typingSkill;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}

@keyframes typingSkill{

    0%{ content: "|"; }

    2% { content: "h|"; }
    4% { content: "he|"; }
    6% { content: "hea|"; }
    8% { content: "hear|"; }
    10% { content: "heart|"; }
    12% { content: "heart di|"; }
    14% { content: "heart dis|"; }
    16% { content: "heart dise|"; }
    18% { content: "heart disea|"; }
    30% { content: "heart diseas|"; }
    30% { content: "heart diseases|"; }

    100%{  }
}
.section2{
    background-color: rgba(0, 0, 0, 0.1);
    margin: 20px;
padding: 20px;
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
}

.section2 h2{
    color:#18191a;
    padding: 50px;
}
h2::after{
    content: "";
    animation-name: about;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    animation-delay: 2s;

}

@keyframes about{

    0%{ content: "|"; }

    2% { content: "o|"; }
    4% { content: "ou|"; }
    6% { content: "our|"; }
    8% { content: "our t|"; }
    10% { content: "our te|"; }
    12% { content: "our tea|"; }
    14% { content: "our team |"; }
   
    100%{  }
}
.feedimg{
    width: 20%;
    z-index: 2;
    
    }
    .feedimg img {
        border: 0.3px solid;
    border-radius: 50%;
    }
    .feed .container{
        width:80%;
        background-color:#c2b099;
        margin: auto;
        position: relative;
        overflow: hidden;
    }
    .feed-content{
    display: flex;
    padding: 50px;
    z-index: 200000000;
    
    }
    .feedcap{
        width: 80%;
       
        padding: 20px;
    }
    .color{
        width:250px;
        height:250px;
       background-color: #c97e4f;
       position: absolute;
       top: -130px;
       bottom:-130px; 
       transform: rotate(45deg);
    }
    .carousel_slide{
display: flex;
justify-content: center;
flex-direction: column;
    }
    .section3{
        background-color: rgba(0, 0, 0, 0.1);
        margin: 50px;
     
      color: black;
    }
    .card{
        width: 30%;
       
        
    }
   .haed{
    text-align: center;
    position: relative;
   }
   .haed h3{
    color: black;
   }
  .haed h3::after{
    content: "";
    animation-name: info;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    animation-delay: 2s;

}

@keyframes info{

    0%{ content: "|"; }

    2% { content: "P|"; }
    4% { content: "Pro|"; }
    6% { content: "proj|"; }
    8% { content: "proje|"; }
    10% { content: "proje|"; }
    12% { content: "projec|"; }
    16% { content: "project I |"; }
    18% { content: "project inf |"; }
    20% { content: "project info|"; }
    22% { content: "project infor |"; }
    25% { content: "project inform|"; }
    28% { content: "project informa|"; }
    30% { content: "project informat|"; }

    32% { content: "project informatio|"; }
    33% { content: "project information|"; }
   
    100%{  }
}
   .line,.line1 ,.line2  {
    border-top: 1px solid #c97e4f;
margin:auto;

  }
  .line{
    width: 20%;
    margin-top: 2px;
  }
  .line1{
    width:15%;
    margin-top: 2px;
  }
  .line2{
    width: 10%;
    margin-top: 2px;
  }
    .sup1 ,.sup2{
       
        display: flex;
        justify-content: space-evenly;
    }
    .card:hover{
        transform: scale(1.5,1.5);
        z-index: 2000000000000000000;
        border:1px  #c97e4f    solid;
    }
    #loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
      }
      #loader img {
        width: 100px;
        height: 100px;
        animation: spin 2s linear infinite;
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      /* Hide the loader when the website has finished loading */
      .loaded #loader {
        display: none;
      }
      .section4{
        margin: 50px;
        background-color: #f2f2f2;
        text-align: center;
        height: 50vh;
      }